/* /Pages/Album.razor.rz.scp.css */
.play-button-inline[b-3dflb7382y] {
    cursor: pointer;
    display: flex;
}

.refresh-button[b-3dflb7382y] {
    margin: 30px 0 0 0;
}

    .refresh-button span[b-3dflb7382y] {
        margin: 0 5px 0 5px;
    }

.info-container[b-3dflb7382y] {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side[b-3dflb7382y] {
}

.playlist-picture[b-3dflb7382y] {
    height: 200px;
    border-radius: 6px;
}

.right-side[b-3dflb7382y] {
    margin-left: 50px;
}

.playlist-title[b-3dflb7382y] {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.playlist-header[b-3dflb7382y] {
    display: flex;
    flex-direction: column;
}

.playlist-description[b-3dflb7382y] {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

    .playlist-description i[b-3dflb7382y] {
        margin-right: 10px;
    }

.comma[b-3dflb7382y] {
    opacity: 0.5;
}

.artist-name-link[b-3dflb7382y] {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover[b-3dflb7382y] {
        opacity: 1;
        text-decoration: underline;
    }

.genre[b-3dflb7382y] {
    margin-right: 10px;
}

.albums-container[b-3dflb7382y] {
    display: flex;
    overflow: scroll;
}

.album-container[b-3dflb7382y] {
    display: flex;
    flex-direction: column;
}

.album-header[b-3dflb7382y] {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;
}

.albumInfo-image[b-3dflb7382y] {
    width: 50px;
    border-radius: 6px;
}

.play-album i[b-3dflb7382y] {

    font-size: 50px;
    cursor: pointer;
    display: flex;
}

.actual-play[b-3dflb7382y] {
    margin-right: 20px;
}

.label[b-3dflb7382y] {
    margin-top: 10px;
    font-size: small;
    opacity: 0.7;
}

.genre[b-3dflb7382y] {
    margin-right: 5px;
    padding: 0 8px;
    background-color: white;
    color: black;
    border-radius: 6px;
}

.comma[b-3dflb7382y] {
    opacity: 0.5;
}
/* /Pages/Artist.razor.rz.scp.css */
.play-button-inline[b-2d8hnw67lo] {
    cursor: pointer;
    display: flex;
}

.refresh-button[b-2d8hnw67lo] {
    margin: 30px 0 0 0;
}

    .refresh-button span[b-2d8hnw67lo] {
        margin: 0 5px 0 5px;
    }

.info-container[b-2d8hnw67lo] {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side[b-2d8hnw67lo] {
}

.playlist-picture[b-2d8hnw67lo] {
    height: 200px;
    border-radius: 6px;
}

.right-side[b-2d8hnw67lo] {
    margin-left: 50px;
}

.playlist-title[b-2d8hnw67lo] {
    font-size: 50px;
    font-weight: bold;
}

.playlist-description[b-2d8hnw67lo] {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

.playlist-description i[b-2d8hnw67lo] {
    margin-right: 10px;
}

.comma[b-2d8hnw67lo] {
    opacity: 0.5;
}

.artist-name-link[b-2d8hnw67lo] {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover[b-2d8hnw67lo] {
        opacity: 1;
        text-decoration: underline;
    }

.genre[b-2d8hnw67lo] {
    margin-right: 5px;
    padding: 0 8px;
    background-color: white;
    color: black;
    border-radius: 6px;
}

.albums-container[b-2d8hnw67lo] {
    display: flex;
    overflow: scroll;
}

.album-container[b-2d8hnw67lo] {
    display: flex;
    flex-direction: column;
}

.album-header[b-2d8hnw67lo] {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;
}

.albumInfo-image[b-2d8hnw67lo] {
    width: 50px;
    border-radius: 6px;
}

.comma[b-2d8hnw67lo] {
    opacity: 0.5;
}
/* /Pages/Playlist.razor.rz.scp.css */
/*.play-button-inline {
    cursor: pointer;
    display: flex;
}

.refresh-button {
    margin: 30px 0 0 0;
}

    .refresh-button span {
        margin: 0 5px 0 5px;
    }

.info-container {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side {
}

.playlist-picture {
    height: 200px;
    border-radius: 6px;
}

.right-side {
    margin-left: 50px;
}

.playlist-title {
    font-size: 50px;
    font-weight: bold;
}

.playlist-description {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

.artist-name-link {
    margin-right: 3px;
    padding: 1px 3px;
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover {
        opacity: 1;
        text-decoration: underline;
    }

.play-album i {
    font-size: 50px;
    cursor: pointer;
    display: flex;
}

.actual-play {
    margin-right: 20px;
}

.play-button-inline {
    cursor: pointer;
    display: flex;
}*/

.play-button-inline[b-bnxuiyca97] {
    cursor: pointer;
    display: flex;
}

.refresh-button[b-bnxuiyca97] {
    margin: 30px 0 0 0;
}

    .refresh-button span[b-bnxuiyca97] {
        margin: 0 5px 0 5px;
    }

.info-container[b-bnxuiyca97] {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side[b-bnxuiyca97] {
}

.playlist-picture[b-bnxuiyca97] {
    height: 200px;
    border-radius: 6px;
}

.right-side[b-bnxuiyca97] {
    margin-left: 50px;
}

.playlist-title[b-bnxuiyca97] {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.playlist-header[b-bnxuiyca97] {
    display: flex;
    flex-direction: column;
}

.playlist-description[b-bnxuiyca97] {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

    .playlist-description i[b-bnxuiyca97] {
        margin-right: 5px;
    }
.comma[b-bnxuiyca97] {
    opacity: 0.5;
}

.artist-name-link[b-bnxuiyca97] {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover[b-bnxuiyca97] {
        opacity: 1;
        text-decoration: underline;
    }

.genre[b-bnxuiyca97] {
    margin-right: 10px;
}

.albums-container[b-bnxuiyca97] {
    display: flex;
    overflow: scroll;
}

.album-container[b-bnxuiyca97] {
    display: flex;
    flex-direction: column;
}

.album-header[b-bnxuiyca97] {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;
}

.albumInfo-image[b-bnxuiyca97] {
    width: 50px;
    border-radius: 6px;
}

.play-album i[b-bnxuiyca97] {
    font-size: 50px;
    cursor: pointer;
    display: flex;
}

.actual-play[b-bnxuiyca97] {
    margin-right: 20px;
}

.label[b-bnxuiyca97] {
    margin-top: 10px;
    font-size: small;
    font-variant: small-caps;
    opacity: 0.7;
}
/* /Pages/Saved.razor.rz.scp.css */
.play-button-inline[b-o5whrgj8na] {
    cursor: pointer;
    display: flex;
}

.refresh-button[b-o5whrgj8na] {
    margin: 30px 0 0 0;
}

.refresh-button span[b-o5whrgj8na] {
    margin: 0 5px 0 5px;
}

.info-container[b-o5whrgj8na] {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side[b-o5whrgj8na] {
}

.playlist-picture[b-o5whrgj8na] {
    height: 200px;
    border-radius: 6px;
}

.right-side[b-o5whrgj8na] {
    margin-left: 50px;
}

.playlist-title[b-o5whrgj8na] {
    font-size: 50px;
    font-weight: bold;
}

.playlist-description[b-o5whrgj8na] {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

.comma[b-o5whrgj8na] {
    opacity: 0.5;
}

.artist-name-link[b-o5whrgj8na] {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover[b-o5whrgj8na] {
        opacity: 1;
        text-decoration: underline;
    }
/* /Pages/Search.razor.rz.scp.css */
.refresh-button[b-zr87shxbny] {
    margin: 15px 0 0 -15px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-eznqwqlqg0] {
    position: relative;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
}

.main[b-eznqwqlqg0] {
    flex: 8;
    background-color: #000000;
    color: white;
}

.sidebar[b-eznqwqlqg0] {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(4,26,18,1) 50%, rgba(13,87,60,1) 100%);
    flex: 2;
}

.top-row[b-eznqwqlqg0] {
    background-color: #01100b;
    justify-content: flex-start;
    height: 80px;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-eznqwqlqg0] {
        display: none;
    }

    .top-row.auth[b-eznqwqlqg0] {
        justify-content: space-between;
    }

    .top-row a[b-eznqwqlqg0], .top-row .btn-link[b-eznqwqlqg0] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eznqwqlqg0] {
        flex-direction: row;
    }

    .sidebar[b-eznqwqlqg0] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-eznqwqlqg0] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-eznqwqlqg0] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-container[b-k6naj5on4p] {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.liked-songs-container[b-k6naj5on4p] {
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 0 30px;
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    -webkit-transition: .3s;
    cursor: pointer;
}

.liked-songs[b-k6naj5on4p] {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    cursor: pointer;
}

        .liked-songs:hover[b-k6naj5on4p] {
            background-color: rgba(0, 0, 0, 0.8);
            border: 1px solid rgba(255, 255, 255, 0.8);
        }

.now-playing-container[b-k6naj5on4p] {
    width: 100%;
    padding: 20px;
    height: 450px;
    justify-content: space-between;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.play-button[b-k6naj5on4p] {
    margin: 20px 0;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}









.player-container[b-k6naj5on4p] {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    border-radius: 30px;
    /*background: rgb(9,130,89);
    background: linear-gradient(45deg, rgba(9,130,89,1) 0%, rgba(6,82,56,1) 100%);*/
    background: rgb(63,94,251);
    background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 30px;
}

.player-upper-bar[b-k6naj5on4p] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-volume-container[b-k6naj5on4p] {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 15%;
    align-items: center;
}

    .player-volume-container i[b-k6naj5on4p] {
        font-size: 20px;
        margin-right: 10px;
    }
.track-progress-slider[b-k6naj5on4p] {
    display: flex;
    width: 100%;
    margin: 15px 0;
    font-size: 10px;
    align-items: center;
}

.timestamp-max[b-k6naj5on4p] {
    margin-left: 10px;
    min-width: 25px;
    max-width: 25px;
    text-align: right;
}

.timestamp-min[b-k6naj5on4p] {
    margin-right: 10px;
    min-width: 25px;
    font-size: 10px;
    max-width: 25px;
}

.player-info-container[b-k6naj5on4p] {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 8;
    justify-content: space-between;
    padding: 0 30px 0 0;
}

.player-controls-container[b-k6naj5on4p] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skip-forward-cnt[b-k6naj5on4p], .play-cnt[b-k6naj5on4p], .skip-backward-cnt[b-k6naj5on4p] {
    font-size: 30px;
    cursor: pointer;
}


.player-song-artist[b-k6naj5on4p] {
   font-size: 12px;
}

.player-song-info-container[b-k6naj5on4p] {
    margin-top: 15px;
}


.player-image-container[b-k6naj5on4p] {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
    align-items: flex-start;
}

.player-image[b-k6naj5on4p] {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}



@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.bi-disc-fill[b-k6naj5on4p]::before {
    -webkit-animation: rotating 2s linear infinite;
}

.slider[b-k6naj5on4p] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .3s;
}

    .slider:hover[b-k6naj5on4p] {
        opacity: 1;
    }

    .slider[b-k6naj5on4p]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border: 0;
        background-color: white;
        cursor: pointer;
        border-radius: 100%;
    }

    .slider[b-k6naj5on4p]::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border: 0;
        background-color: white;
        cursor: pointer;
        border-radius: 100%;
    }

.player-active-device[b-k6naj5on4p] {
    font-size: 13px;
}

.device-name[b-k6naj5on4p] {
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin-top: 10px;
    cursor: pointer;
}

.device-name.active[b-k6naj5on4p] {
    opacity: 1;
}

.device-name i[b-k6naj5on4p] {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
}

.player-song-name[b-k6naj5on4p] {
    display: flex;
}

.player-song-name i[b-k6naj5on4p] {
    margin-right: 10px;
    display: flex;
    align-items: center;
}



.profile-container[b-k6naj5on4p] {
    display: flex;
    margin: 30px 0;
    padding: 0 30px;
    width: 100%;
    color: white;
    height: 75px;
}

.profile-image[b-k6naj5on4p] {
    display: flex;
    width: 75px;
    margin-right: 30px;
}

.profile-pic[b-k6naj5on4p] {
    border-radius: 6px;
}

.profile-name[b-k6naj5on4p] {
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
}

.profile-right-container[b-k6naj5on4p] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.spotify-image[b-k6naj5on4p] {
    opacity: 0.7;
    width: 50px;
}

.profile-logout-container[b-k6naj5on4p] {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
}

.playlist-container[b-k6naj5on4p] {
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0 24px 0 30px;
    margin: 20px 0;
    color: white;
    font-size: small;
    scrollbar-width: thin;
    width: 100%;
}

.playlist-image-container[b-k6naj5on4p] {
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.playlist[b-k6naj5on4p] {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    -webkit-transition: .3s;
    cursor: pointer;
}

    .playlist:hover[b-k6naj5on4p] {
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.8);
    }

.playlist-name[b-k6naj5on4p]{
    width: 100%;
}

.playlist-image[b-k6naj5on4p] {
    display: flex;
    width: 50px;
    margin-right: 30px;
    border-radius: 6px;
}

/* width */
[b-k6naj5on4p]::-webkit-scrollbar {
    width: 8px;
}

/* Track */
[b-k6naj5on4p]::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
[b-k6naj5on4p]::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    [b-k6naj5on4p]::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.playlist-refresh[b-k6naj5on4p] {
    margin-bottom: 8px;
}

.comma[b-k6naj5on4p] {
    opacity: 0.5;
}

.artist-name-link[b-k6naj5on4p] {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover[b-k6naj5on4p] {
        opacity: 1;
        text-decoration: underline;
    }
/* /Shared/SearchBar.razor.rz.scp.css */
.search-field[b-0a6fxl3a8l] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 30px;
    color: white;
    width: 100%;
}

    .search-field:focus[b-0a6fxl3a8l] {
        outline: none;
    }
