.navbar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.liked-songs-container {
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 0 30px;
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    -webkit-transition: .3s;
    cursor: pointer;
}

.liked-songs {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    cursor: pointer;
}

        .liked-songs:hover {
            background-color: rgba(0, 0, 0, 0.8);
            border: 1px solid rgba(255, 255, 255, 0.8);
        }

.now-playing-container {
    width: 100%;
    padding: 20px;
    height: 450px;
    justify-content: space-between;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.play-button {
    margin: 20px 0;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}









.player-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    border-radius: 30px;
    /*background: rgb(9,130,89);
    background: linear-gradient(45deg, rgba(9,130,89,1) 0%, rgba(6,82,56,1) 100%);*/
    background: rgb(63,94,251);
    background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 30px;
}

.player-upper-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-volume-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 15%;
    align-items: center;
}

    .player-volume-container i {
        font-size: 20px;
        margin-right: 10px;
    }
.track-progress-slider {
    display: flex;
    width: 100%;
    margin: 15px 0;
    font-size: 10px;
    align-items: center;
}

.timestamp-max {
    margin-left: 10px;
    min-width: 25px;
    max-width: 25px;
    text-align: right;
}

.timestamp-min {
    margin-right: 10px;
    min-width: 25px;
    font-size: 10px;
    max-width: 25px;
}

.player-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 8;
    justify-content: space-between;
    padding: 0 30px 0 0;
}

.player-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skip-forward-cnt, .play-cnt, .skip-backward-cnt {
    font-size: 30px;
    cursor: pointer;
}


.player-song-artist {
   font-size: 12px;
}

.player-song-info-container {
    margin-top: 15px;
}


.player-image-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 3;
    align-items: flex-start;
}

.player-image {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}



@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.bi-disc-fill::before {
    -webkit-animation: rotating 2s linear infinite;
}

.slider {
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .3s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border: 0;
        background-color: white;
        cursor: pointer;
        border-radius: 100%;
    }

    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border: 0;
        background-color: white;
        cursor: pointer;
        border-radius: 100%;
    }

.player-active-device {
    font-size: 13px;
}

.device-name {
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin-top: 10px;
    cursor: pointer;
}

.device-name.active {
    opacity: 1;
}

.device-name i {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
}

.player-song-name {
    display: flex;
}

.player-song-name i {
    margin-right: 10px;
    display: flex;
    align-items: center;
}



.profile-container {
    display: flex;
    margin: 30px 0;
    padding: 0 30px;
    width: 100%;
    color: white;
    height: 75px;
}

.profile-image {
    display: flex;
    width: 75px;
    margin-right: 30px;
}

.profile-pic {
    border-radius: 6px;
}

.profile-name {
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
}

.profile-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.spotify-image {
    opacity: 0.7;
    width: 50px;
}

.profile-logout-container {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
}

.playlist-container {
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0 24px 0 30px;
    margin: 20px 0;
    color: white;
    font-size: small;
    scrollbar-width: thin;
    width: 100%;
}

.playlist-image-container {
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.playlist {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    -webkit-transition: .3s;
    cursor: pointer;
}

    .playlist:hover {
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.8);
    }

.playlist-name{
    width: 100%;
}

.playlist-image {
    display: flex;
    width: 50px;
    margin-right: 30px;
    border-radius: 6px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }