.play-button-inline {
    cursor: pointer;
    display: flex;
}

.refresh-button {
    margin: 30px 0 0 0;
}

    .refresh-button span {
        margin: 0 5px 0 5px;
    }

.info-container {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side {
}

.playlist-picture {
    height: 200px;
    border-radius: 6px;
}

.right-side {
    margin-left: 50px;
}

.playlist-title {
    font-size: 50px;
    font-weight: bold;
}

.playlist-description {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

.playlist-description i {
    margin-right: 10px;
}

.comma {
    opacity: 0.5;
}

.artist-name-link {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover {
        opacity: 1;
        text-decoration: underline;
    }

.genre {
    margin-right: 5px;
    padding: 0 8px;
    background-color: white;
    color: black;
    border-radius: 6px;
}

.albums-container {
    display: flex;
    overflow: scroll;
}

.album-container {
    display: flex;
    flex-direction: column;
}

.album-header {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;
}

.albumInfo-image {
    width: 50px;
    border-radius: 6px;
}

.comma {
    opacity: 0.5;
}

.playlist-refresh {
    display: flex;
    margin-top: 10px;
    font-size: small;
}

    .playlist-refresh i {
        margin-right: 5px;
        display: flex;
        align-items: center;
    }

    .playlist-refresh.spotify {
        color: #1DB954;
    }

    .playlist-refresh.cache {
        color: #FE5000;
    }

.comma {
    opacity: 0.5;
}

.artist-name-link {
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover {
        opacity: 1;
        text-decoration: underline;
    }