.play-button-inline {
    cursor: pointer;
    display: flex;
}

.refresh-button {
    margin: 30px 0 0 0;
}

    .refresh-button span {
        margin: 0 5px 0 5px;
    }

.info-container {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 30px;
}

.left-side {
}

.playlist-picture {
    height: 200px;
    border-radius: 6px;
}

.right-side {
    margin-left: 50px;
}

.playlist-title {
    font-size: 50px;
    font-weight: bold;
}

.playlist-description {
    margin-top: 10px;
    font-size: small;
    opacity: 0.5;
}

.artist-name-link {
    margin-right: 3px;
    padding: 1px 3px;
    opacity: 0.5;
    cursor: pointer;
}

    .artist-name-link:hover {
        opacity: 1;
        text-decoration: underline;
    }
